* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* menu */
.menu {
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(208, 208, 208);
  padding: 0 0.5rem;
}
.logo-left {
  width: 10rem;
  height: 3rem;
  display: flex;
  align-items: center;
  border: 2px dashed red;
}
.logo {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid black;
  border-radius: 50%;
  background-color: blanchedalmond;
}
nav {
  display: none;
}
.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 3.25rem;
  height: 2rem;
}
.hamburger div {
  width: 2.25rem;
  height: 0.2rem;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
/* welcome */
.welcome {
  width: 100vw;
  height: 93vh;
  background-color: rgb(39, 39, 39);
}

/* about-me */
.about-me {
  width: 100vw;
  height: 90vh;
  background-color: rgb(87, 87, 87);
}

/* projects */
.projects {
  width: 100vw;
  height: 90vh;
  background-color: rgb(153, 153, 153);
}

/* contact */
.contact {
  width: 100vw;
  height: 90vh;
  background-color: rgb(189, 189, 189);
}

/* footer */
.footer {
  width: 100vw;
  height: 4vh;
  background-color: rgb(44, 44, 44);
}
