* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-block-start: 7vh;
}
:root {
  font-size: 16px;
}
@font-face {
  font-family: "Nova Oval";
  src: url(../fonts/NovaOval-Regular.ttf);
}
